<div class="main-app mt-4">
  {{!-- Hidden area --}}

  {{!-- Create note form modal--}}
  <div class="modal fade" id="createNoteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">      
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Create note</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{!-- Create note data --}}
          <form action="/note/create" method="POST">
            <div class="mb-3">
              <label for="note-title" class="form-label">Note title</label>
              <input type="text" class="form-control" id="note-title" name="title">
            </div>            
            <div class="mb-3">
              <label for="note-content" class="form-label">Note content</label>
              {{!-- <input type="text" class="form-control" id="note-content" aria-describedby="note-content-help" name="content"> --}}
              <div class="form-floating">
                <textarea rows="20" class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="content"></textarea>
                <label for="floatingTextarea">How do you feel today? ⛅</label>
              </div>
              <div id="note-content-help" class="form-text">Helper text here</div>
            </div>
            {{!-- List user input here --}}
            <div class="mb-3">
              <select class="form-select" name="related-topics" multiple>
                <option selected>Select topics (hold Ctrl key for multiple)</option>
                {{#each data.topics}}
                <option value="{{_id}}" id=`topic-{{_id}}`>{{title}}</option>
                {{/each}}
              </select>
            </div>
            {{!-- Button control --}}
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>        
      </div>
    </div>    
  </div>

  {{!-- Update note modal --}}
  <div class="modal fade" id="updateNoteModal" tabindex="-1" aria-labelledby="updateNoteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">      
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="updateNoteModalLabel">Update note</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{!-- Update note data --}}
          <form action="/note/update" method="POST" id="form-update-note">
            <div class="mb-3">
              <label for="note-title" class="form-label">Note title</label>
              <input type="text" class="form-control" id="update-note-title" name="title">
            </div>            
            <div class="mb-3">
              <label for="note-content" class="form-label">Note content</label>
              <div class="form-floating">
                <textarea rows="20" class="form-control" placeholder="Leave a comment here" id="update-note-content" name="content"></textarea>
              </div>
              <div id="note-content-help" class="form-text">Helper text here</div>
            </div>
            {{!-- List user input here --}}
            <div class="mb-3">
              <select class="form-select" name="update-related-topics" id="update-related-topics" multiple>
                <option selected>Select topics (hold Ctrl key for multiple)</option>
                {{#each data.topics}}
                <option value="{{_id}}" id=`topic-{{_id}}`>{{title}}</option>
                {{/each}}
              </select>
            </div>
            {{!-- Hidden input for Note ObjectID --}}
            <input type="hidden" name="id" id="update-note-object-id" value="">
            {{!-- Button control --}}
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>        
      </div>
    </div>    
  </div>

  {{!-- Create topic form modal --}}
  <div class="modal fade" id="createTopicModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">      
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Create topic</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{!-- Create topic data --}}
          <form action="/topic/create-single" method="POST">
            <div class="mb-3">
              <label for="topic-title" class="form-label">Title</label>
              <input type="text" class="form-control" id="topic-title" name="title">
            </div>            
            <div class="mb-3">
              <label for="topic-content" class="form-label">Description</label>
              <div class="form-floating">
                <textarea rows="20" class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="description"></textarea>
                <label for="floatingTextarea">More productivity right? 💪</label>
              </div>
              <div id="topic-content-help" class="form-text">Helper text here</div>
            </div>
            {{!-- TODO: list user notes here for select, GET data when rendering --}}
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>        
      </div>
    </div>    
  </div>

  {{!-- Visible area --}}

  {{!-- Open create note/topic form modal --}}
  <div class="creating-button-group my-2">
    <button type="button" class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#createNoteModal">
    Create new note
    </button>

    <button type="button" class="btn btn-outline-primary m-1" data-bs-toggle="modal" data-bs-target="#createTopicModal">
    Create new topic
    </button>
  </div>

  {{!-- Displaying content area --}}
  <div class="row">
    {{!-- Left side contains topics list --}}
    <div class="col-4 left-side p-3">
      <ul class="list-group">
        {{!-- Sample item --}}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold"><a href="#" id="menu-topic-all" onclick="filterByTopicId('all')">All</a></div>
            Get all notes
          </div>
          <span class="badge bg-primary rounded-pill">999</span>
        </li>

        {{#each data.topics}}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold"><a href="#" id="menu-topic-{{_id}}" onclick="filterByTopicId('{{_id}}')">{{title}}</a></div>
            {{description}}
          </div>
          <span class="badge bg-success rounded-pill mx-3"><a href="#" class="link-light">Edit</a></span>
          <span class="badge bg-primary rounded-pill">999</span>
        </li>
        {{/each}}
      <ul/>
    </div>

    {{!-- Right side contains notes list --}}
    <div class="col-8 right-side p-3">
      <div class="row" id="note-container">
        {{!-- Sample item --}}
        {{#each data.notes}}
        <div class="item col-sm-6 col-lg-4 mb-3" id="{{_id}}">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <p class="card-text">{{content}}</p>
              <p class="card-text"><i class="fa-regular fa-calendar"></i> {{createdAt}}</p>
              <a href="#" 
                  class="btn btn-primary" 
                  id="btnEditNote"
                  data-bs-toggle="modal" 
                  data-bs-target="#updateNoteModal"
                  data-title="{{title}}"
                  data-content="{{content}}"
                  data-id="{{_id}}"
                  data-related-topic="{{topics}}">                  
                <i class="fa-solid fa-edit"></i> Edit
              </a>
              <a href="#" class="btn btn-danger" id="btnTrashNote" data-note-id="{{_id}}" 
                  onclick="removeNote(`{{_id}}`)"><i class="fa-solid fa-trash"></i> Trash</a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>         
    </div>

  </div> 
  {{!-- End displaying area --}}

</div>

<script src="/script/mainApp.js"></script>